@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
}

html {
    height: 100%;
    background-color: #1C1C1C;
    background: url(../images/loginbackground.jpeg);
    background-size: cover;
    min-height: 600px;
  }

  .title{
    margin-top: 70px;
    font-size: 16px;
    margin-bottom: 25px;
    color: #ffff;
    text-align: center;
  }
h1.loginheader {
    font-family: 'Ultra';
    letter-spacing: 5px;
}
p.description{
    font-size: 1em;
    margin-top: 20px;
    letter-spacing: 10px;
    color: #aaa704;
}
.login{
    max-width: 1000px;
    width: 50%;
    margin: 20px auto;
    padding: 40px;
}
.login .form{
    width: 100%;
  }

  .login .form .inputfield{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }
  
  .login .form .inputfield label{
     width: 200px;
     color: grey;
     margin-right: 10px;
    font-size: 14px;
  }
  
  .login .form .inputfield .input,
  .login .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid white;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 50px;
  }
  
  .inputBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .login .form .inputBtn .btn {
    width: 100px;
     padding: 8px 10px;
     margin-right: 10px;
    font-size: 15px; 
    border: 0px;
    background:  grey;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
  }
  .login .form .inputBtn .btn:hover{
      color: black; 
  }

.member{
    margin-top: 10px;
    text-align: center;
    color: #fff;
}
.signin{
    color: red;
}
.signin:hover{
    color: white;
}
  